@import "global.scss";
@import "mixins.scss";
@import "variables.scss";
@import "block/page-header.scss";
@import "block/main-menu.scss";


/*global.scss*/
body {
  min-width: 320px;
  margin: 0;
  font-family: "OpenSans", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*variables.scss*/
$grey: #fafafa;
$borderColor: #ececec;

/*page-header.scss*/
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    margin: 22px 30px;
    width: 86px;
    height: 35px;
  }

  &__title {
    margin: 0;
    padding-top: 85px;
    text-align: center;
    font: {
      size: 27px;
      weight: bold;
    }
    line-height: 30px;
  }

  &__title--index {
    min-height: 220px;
    background: {
      color: $grey;
      image: url("../img/hero-mobile@1x.jpg");
      position: 50% 0%;
    }
  }
}

/*main-menu.scss*/
.main-menu {
  align-self: center;
  min-width: 320px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__wrapper {
    list-style: none;
    align-self: flex-start;
    padding: 0;
  }

  &__link {
    display: block;
    position: relative;
    padding: 30px 0 30px 70px;
    font-size: 17px;
    font-weight: bold;
    color: black;
    border-bottom: 1px solid $borderColor;

    &--catalog,
    &--cart {
      border-top: 1px solid $borderColor;
    }

    &--cart::before {
      content: "";
      position: absolute;
      top: 35%;
      left: 25px;
      width: 20px;
      height: 20px;
      background-image: url("../img/icon-cart.svg");
      background-repeat: no-repeat;
    }
  }

  &__toggle {
    width: 20px;
    height: 14px;
    position: absolute;
    top: 32px;
    right: 31px;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-menu-open.svg");
  }
}

.search {
  display: flex;
  padding: 30px 0 30px 40px;

  &__text {
    height: 30px;
    order: 2;
    border: none;
    font-size: 17px;
    line-height: 30px;
    color: black;

    &::placeholder {
      opacity: 1;
      color: black;
      font-size: 17px;
      font-weight: bold;
      font-family: "OpenSans", "Arial", sans-serif;
    }
  }

  &__submit {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    padding: 0;
    order: 1;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    border: none;
    background: url("../img/icon-search.svg") no-repeat;
  }
}

.promo {
  &__item {
    display: block;
    position: relative;
    min-width: 320px;
    min-height: 103px;
    padding-top: 30px;
    padding-left: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;

    &--interier {
      background-color: #3cdabb;
    }

    &--toys {
      background-color: #2accb3;
    }
  }
}

.item-week {
  padding: 0 30px 50px;
  position: relative;

  &__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }

  &__category {
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    color: #63d1bb;
  }

  &__description {
    font-size: 15px;
    line-height: 24px;
    color: #444444;
  }

  &__features {
    margin-bottom: 20px;
    border: none;
    border-spacing: 0;
    font-size: 15px;
    line-height: 20px;
    color: #444444;
  }

  &__parameter {
    padding: 10px 0;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid $borderColor;
  }

  &__value {
    min-width: 160px;
    padding: {
      top: 10px;
      left: 30px;
      bottom: 10px;
    }
    border-bottom: 1px solid $borderColor;
  }

  &__price {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #444444;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
}

.zigzag::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  min-width: 320px;
  height: 7px;
  background-image: url("../img/zigzag-line.png");
  background-repeat: no-repeat;
}

.btn {
  display: block;
  min-width: 238px;
  padding: 15px 10px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #444444;
  border: 2px solid #444444;

  &--writeus {
    margin: 0 30px 30px;
  }

  &--modal {
    min-width: 260px;
    color: white;
    background-color: #63d1bb;
    border: none;
  }
}

.features {
  padding: 0 30px 40px;

  &__title {
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__trait {
    padding-top: 73px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    &--material {
      background: {
        image: url("../img/icon-feature-flower.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }

    &--style {
      background: {
        image: url("../img/icon-feature-money.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }

    &--like {
      background: {
        image: url("../img/icon-feature-heart.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }

    &--handmade {
      background: {
        image: url("../img/icon-feature-ball.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }

    &--brands {
      background: {
        image: url("../img/icon-feature-rocket.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }

    &--gift {
      background: {
        image: url("../img/icon-feature-gift.svg");
        repeat: no-repeat;
        position: 0 50%;
      }
    }
  }
}

.reviews {
  position: relative;
  padding: 0 30px 50px;

  &__item {
    padding-bottom: 30px;

    &--2,
    &--3 {
      display: none;
    }
  }

  &__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #444444;
  }

  &__author {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
  }

  &__login {
    font-size: 17px;
    line-height: 30px;
    color: #444444;
  }

  &__arrow {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    width: 128px;
    height: 52px;
    padding: 0;
    margin-bottom: 20px;
    text-indent: 100%;
    overflow: hidden;
    background-color: transparent;
    border: 1px solid #ececec;

    &--next {
      background: {
        image: url("../img/icon-right-arrow.svg");
        repeat: no-repeat;
        position: center;
      }
    }

    &--previous {
      background: {
        image: url("../img/icon-left-arrow.svg");
        repeat: no-repeat;
        position: center;
      }
      border-right: none;
    }
  }
}

.contacts {
  &__wrapper {
    padding: 30px 30px;
    border: none;
    color: #444444;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
  }

  &__title {
    padding-left: 30px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  &__parameter {
    font-weight: normal;
    vertical-align: top;
  }

  &__value {
    padding-left: 20px;

    &--email {
      border-bottom: 1px solid #62d1ba;
    }

    &--address {
      padding-right: 30px;
    }
  }
}

.map {
  position: relative;
  margin-bottom: 30px;

  &__marker::after {
    content: "";
    width: 67px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 30px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}

.page-footer {
  background-color: #f1f1f1;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  margin: 0 30px;
  border-bottom: 1px solid $borderColor;

  &__link {
    width: 22px;
    height: 29px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;

    &--insta {
      margin-right: 20px;
      background: {
        image: url("../img/icon-insta.svg");
        position: 0 100%;
        repeat: no-repeat;
      }
    }

    &--fb {
      margin-right: 15px;
      background: {
        image: url("../img/icon-fb.svg");
        position: 0 100%;
        repeat: no-repeat;
      }
    }

    &--twitter {
      background: {
        image: url("../img/icon-twitter.svg");
        position: 0 100%;
        repeat: no-repeat;
      }
    }
  }
}

.copyright {
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__title {
    margin-right: 20px;
    font-size: 19px;
    font-weight: bold;
    line-height: 18px;
  }

  &__link {
    width: 30px;
    height: 35px;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    background: {
      image: url("../img/htmlacademy.svg");
      repeat: no-repeat;
      position: center;
    }
  }
}

.modal {
  z-index: 100;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  min-height: 326px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  &__title {
    padding: 0 30px;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  &__options{
    padding: 0 30px;
    color: #444444;
    font-size: 15px;
    font-weight: normal;
    line-height: 30px;
    text-align: center;
  }

  &__form {
    padding: 0 30px 46px;
  }

  &__radio {
    display: none;
  }

  &__size {
    display: inline-block;
    vertical-align: middle;
    min-width: 78px;
    min-height: 32px;
    padding-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #444444;
    font-size: 17px;
    font-weight: bold;
    line-height: 16px;
    border: 2px solid $borderColor;
  }
}
