.btn {
  display: block;
  width: 100%;
  padding: 14px 10px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $textColor;
  border: 2px solid $textColor;

  &--item-week {
    width: 260px;
  }

  &--writeus {
    width: 84%;
    margin: 0 8%;
    margin-bottom: 39px;
  }

  &--modal {
    color: white;
    background-color: #63d1bb;
    border: none;
  }

  &--video {
    width: 192px;
    margin: 0 34px 32px;
  }

  &--form {
    min-width: 260px;
    margin-bottom: 55px;
    background-color: transparent;
  }
}

@media (min-width: $tablet) {
  .btn--reviews {
    order: 2;
    width: 25%;
    height: 52px;
    margin-top: 60px;
  }

  .btn--writeus {
    margin: auto;
    width: 230px;
    margin-bottom: 40px;
  }

  .btn--video {
    order: 4;
    width: 90%;
  }
}

@media (min-width: $desktop) {
  .btn--writeus {
    position: relative;
    top: -95px;
    margin: 0;
    margin-left: 175px;
  }

  .btn--video {
    position: relative;
    top: -120px;
    right: -38%;
    width: 20%;
    height: 52px;
  }
}
