.btn {
  display: block;
  width: 100%;
  padding: 14px 10px;
  box-sizing: border-box;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: $textColor;
  border: 2px solid $textColor;

  &--writeus {
    margin: 0 9%;
    width: 82%;
    margin-bottom: 39px;
  }

  &--modal {
    color: white;
    background-color: #63d1bb;
    border: none;
  }

  &--video {
    width: 192px;
    margin: 0 34px 32px;
  }

  &--form {
    width: 86%;
    margin: 0 7% 55px;
    background-color: transparent;
  }
}

.btn:hover,
.btn:focus {
  background-color: #464646;
  color: white;
}

.btn:active {
  background-color: #464646;
  color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $tablet) {
  .btn--reviews {
    order: 2;
    width: 25.9%;
    height: 52px;
  }

  .btn--writeus {
    margin: auto;
    width: 230px;
    margin-bottom: 57px;
  }

  .btn--video {
    order: 4;
    width: 90%;
  }

  .btn--form {
    order: 1;
    width: 230px;
  }
}

@media (min-width: $desktop) {
  .btn--writeus {
    width: 21.9%;
    position: relative;
    top: -107px;
    margin: 0;
    margin-left: 175px;
  }

  .btn--reviews {
    margin-top: 79px;
    width: 20%;
    margin-left: 6.5%;
  }

  .btn--video {
    position: relative;
    top: -120px;
    right: -38%;
    width: 20%;
    height: 52px;
  }
}
