.contacts {
  padding-top: 18px;
}

.contacts__wrapper {
  padding: 0 9% 34px;
  border: none;
  color: $textColor;
  font-size: 15px;
  font-weight: normal;
  line-height: 30px;
}

.contacts__title {
  padding-left: 9%;
  padding-bottom: 24px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__parameter {
  padding-right: 27px;
  font-weight: normal;
  vertical-align: top;

  &--address {
    padding-top: 26px;
  }
}

.contacts__value a {
  padding-bottom: 2px;
  color: $textColor;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__value--address {
  padding-top: 26px;
  padding-right: 30px;
}

@media (min-width: $tablet) {
  .contacts {
    padding-top: 49px;
  }

  .contacts__wrapper {
    padding: 0 6% 52px;
    width: 100%;
    box-sizing: border-box;
  }

  .contacts__title {
    width: 86%;
    position: relative;
    font-size: 43px;
    line-height: 50px;
    padding: 0 6% 45px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 5%;
      width: 47px;
      height: 81px;
      background: {
        image: url("../img/icon-flag.svg");
        repeat: no-repeat;
        position: 50% 50%;
      }
    }
  }

  .contacts__wrapper tbody {
    min-width: 86%;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__wrapper tr {
    width: 50%;
  }

  .contacts__parameter {
    padding: 0 20px 0 0;
  }

  .contacts__value--address {
    width: 220px;
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 8%;
  }

  .contacts__wrapper {
    width: 50%;
    padding-left: 175px;
  }

  .contacts__title {
    padding-left: 175px;
    width: auto;

    &::after {
      right: 80%;
    }
  }

  .contacts__wrapper tbody {
    flex-direction: column;
  }

  .contacts__value--address {
    min-width: 223px;
  }
}
