.copyright {
  min-height: 79px;
  margin: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__title {
  margin: 0 25px 0 8px;
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
}

.copyright__link {
  display: block;
}

.copyright__link svg {
  width: 42px;
  height: 42px;
  fill: #63d1bb;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .copyright {
    order: 3;
    width: 33.3%;
  }
}
