.features {
  padding: 10px 9% 19px;
}

.features__title {
  margin: 0 0 3px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.features__trait {
  max-width: 255px;
  padding-top: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  &--material {
    background: {
      image: url("../img/icon-feature-flower.svg");
      repeat: no-repeat;
      position: 9px 30px;
    }
  }

  &--style {
    background: {
      image: url("../img/icon-feature-money.svg");
      repeat: no-repeat;
      position: 0 30px;
    }
  }

  &--like {
    background: {
      image: url("../img/icon-feature-heart.svg");
      repeat: no-repeat;
      position: 8px 35px;
    }
  }

  &--handmade {
    background: {
      image: url("../img/icon-feature-ball.svg");
      repeat: no-repeat;
      position: 4px 32px;
    }
  }

  &--brands {
    background: {
      image: url("../img/icon-feature-rocket.svg");
      repeat: no-repeat;
      position: 0 34px;
    }
  }

  &--gift {
    background: {
      image: url("../img/icon-feature-gift.svg");
      repeat: no-repeat;
      position: 4px 32px;
    }
  }
}

@media (min-width: $tablet) {
  .features {
    padding: 37px 6.2% 21px;
  }

  .features__list {
    height: 500px;
    flex-direction: column;
  }

  .features__trait {
    max-width: 300px;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 28px;
  }

  .features__title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .features {
    padding: 51px 22% 19px 273px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__trait  {
    width: 45%;
  }
}
