.features {
  padding: 0 30px 19px;

  &__title {
    margin: 19px 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__trait {
    padding-top: 83px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;

    &--material {
      padding-top: 67px;
      background: {
        image: url("../img/icon-feature-flower.svg");
        repeat: no-repeat;
        position: 3% 19%;
      }
    }

    &--style {
      background: {
        image: url("../img/icon-feature-money.svg");
        repeat: no-repeat;
        position: 0 31%;
      }
    }

    &--like {
      background: {
        image: url("../img/icon-feature-heart.svg");
        repeat: no-repeat;
        position: 3% 37%;
      }
    }

    &--handmade {
      background: {
        image: url("../img/icon-feature-ball.svg");
        repeat: no-repeat;
        position: 2% 36%;
      }
    }

    &--brands {
      background: {
        image: url("../img/icon-feature-rocket.svg");
        repeat: no-repeat;
        position: 0 33%;
      }
    }

    &--gift {
      background: {
        image: url("../img/icon-feature-gift.svg");
        repeat: no-repeat;
        position: 1% 34%;
      }
    }
  }
}
