.features {
  padding: 10px 9% 19px;
}

.features__title {
  margin: 0 0 19px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
}

.features__trait {
  max-width: 255px;
  padding-top: 83px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  &--material {
    padding-top: 67px;
    background: {
      image: url("../img/icon-feature-flower.svg");
      repeat: no-repeat;
      position: 3% 19%;
    }
  }

  &--style {
    background: {
      image: url("../img/icon-feature-money.svg");
      repeat: no-repeat;
      position: 0 31%;
    }
  }

  &--like {
    background: {
      image: url("../img/icon-feature-heart.svg");
      repeat: no-repeat;
      position: 3% 37%;
    }
  }

  &--handmade {
    background: {
      image: url("../img/icon-feature-ball.svg");
      repeat: no-repeat;
      position: 2% 36%;
    }
  }

  &--brands {
    background: {
      image: url("../img/icon-feature-rocket.svg");
      repeat: no-repeat;
      position: 0 33%;
    }
  }

  &--gift {
    background: {
      image: url("../img/icon-feature-gift.svg");
      repeat: no-repeat;
      position: 1% 34%;
    }
  }
}

@media (min-width: $tablet) {
  .features {
    padding: 40px 7% 19px;
    display: flex;
    flex-wrap: wrap;
  }

  .features__list {
    width: 50%;
    box-sizing: border-box;
  }

  .features__trait {
    width: 300px;
    font-size: 20px;
    line-height: 22px;

    &--handmade {
      padding-top: 67px;
    }
  }

  .features__title {
    width: 100%;
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .features {
    padding: 40px 8% 19px;
  }

  .features__title {
    padding-left: 175px;
    font-size: 53px;
    line-height: 57px;
  }

  .features__list--1 {
    padding-left: 175px;
  }
}
