.form__group {
  padding: 0;
  margin: 0;
  border: none;
}

.form__wrapper {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0 9.3%;
}

.form__line {
  z-index: 1;
  position: relative;
  top: -25px;
  left: 0;
}

.form__group-title {
  z-index: 10;
  width: auto;
  padding-right: 10px;
  position: relative;
  color: #63d1bb;
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  background-color: white;

  &--tel,
  &--email {
    padding: 0;
  }
}

.form__label {
  display: block;
  position: relative;
  width: 200px;
  min-height: 35px;
  vertical-align: middle;
  padding-left: 65px;
  margin-right: 28px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  &--radio {
    margin-bottom: 21px;
  }

  &--radio::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    width: 35px;
    height: 35px;
    border: 2px solid $textColor;
    border-radius: 50%;
  }

  &--checkbox {
    margin-bottom: 22px;
  }

  &--checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 35px;
    border: 2px solid $textColor;
  }
}

.form__input {
  display: none;

  &--radio:checked + label::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    width: 35px;
    height: 35px;
    outline: 16px solid #39dbba;
    outline-offset: -28px;
    outline-radius: 50%;
    -moz-outline-radius: 50%;
  }

  &--checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background: {
      image: url("../img/icon-tick.svg");
      repeat: no-repeat;
    }
  }
}

.form__text {
  width: 100%;
  margin-bottom: 15px;
  border: none;
  font-size: 17px;
  line-height: 18px;

  &::placeholder {
    opacity: 0.3;
    font-size: 17px;
    line-height: 18px;
    color: $textColor;
  }

  &--tel {
    min-height: 24px;
    background: {
      image: url("../img/icon-phone.svg");
      repeat: no-repeat;
      position: 100% 50%;
    }
  }

  &--email {
    min-height: 24px;
    background: {
      image: url("../img/icon-mail.svg");
      repeat: no-repeat;
      position: 100% 50%;
    }
  }

  &--wishes {
    box-sizing: border-box;
    width: 86%;
    margin: 0 7%;
    padding: 17px;
    border: 2px solid $textColor;
  }
}

.form__name {
  width: 100%;
  padding-bottom: 15px;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
}

.form__note {
  margin: 0 7% 30px;
  color: $textColor;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet) {
  .form__group--checkbox,
  .form__wrapper--contacts {
    background-color: #f1f1f1;
  }

  .form__wrapper {
    width: 80%;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
    }

    &--contacts {
      width: 100%;
    }
  }

  .form__group-title {
    width: 18%;
    position: relative;
    top: 8px;
    background: none;
  }

  .form__label--radio {
    width: 67%;
  }

  .form__label--checkbox {
    width: 20%;
  }

  .form__name {
    width: 35%;
  }

  .form__text {
    width: 70%;
    border-bottom: 2px solid black;

    &--tel,
    &--email {
      background-color: #f1f1f1;
    }

    &--wishes {
      width: 67%;
    }
  }

  .form__notes {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .form__note {
    order: 2;
  }
}

@media (min-width: $desktop) {
  .form__label--checkbox {
    width: 20%;
  }

  .form__notes {
    box-sizing: border-box;
    padding-left: 18%;
  }
}
