.item {
  width: 260px;
  margin-bottom: 32px;
  border: 1px solid $borderColor;
}

.item:hover .item__wrapper,
.item:focus .item__wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.item:active .item__wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.item__title {
  display: block;
  padding-left: 28px;
  margin: 21px 0 4px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.item__details {
  margin: 0 28px 0;
  padding-bottom: 21px;
  font-size: 13px;
  line-height: 30px;
  color: $textColor;
}

.item__buy {
  display: flex;
  justify-content: space-between;
  margin: 0 28px;
  padding-top: 20px;
  border-top: 1px solid $borderColor;
}

.item__price {
  display: block;
  padding-bottom: 25px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}

.item__icon-cart {
  fill: #d6d6d6;
}

.item__cart {
  display: block;
  width: 21px;

  &:hover .item__icon-cart,
  &:focus .item__icon-cart {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .item__icon-cart {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .item {
    display: flex;
    width: 100%;
    margin-bottom: 54px;
  }

  .item__img-link {
    width: 50%;
    height: 332px;
  }

  .item__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .item__img {
    width: 334px;
    height: 100%;
  }

  .item__title {
    padding-left: 26px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
  }

  .item__details {
    padding-bottom: auto;
    font-size: 15px;
    line-height: 30px;
  }

  .item__price {
    font-size: 17px;
    line-height: 24px;
  }

  .item__buy {
    padding-top: 23px;
  }
}

@media (min-width: $desktop) {
  .item {
    width: 30%;
    flex-direction: column;
  }

  .item__img-link {
    width: 100%;
  }

  .item__img {
    width: 316px;
    height: 462px;
  }

  .item__wrapper {
    width: 100%;
  }
}
