.item-week {
  box-sizing: border-box;
  width: 100%;
  padding: 0 9% 24px;
  position: relative;
}

.item-week__title {
  margin: 27px 0 5px;
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
}

.item-week__category {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.item-week__description {
  word-wrap: break-word;
  margin: 20px 0 18px;
  font-size: 15px;
  line-height: 24px;
  color: $textColor;
}

.item-week__features {
  width: 100%;
  margin-bottom: 29px;
  border: none;
  border-spacing: 0;
  font-size: 15px;
  line-height: 20px;
  color: $textColor;
}

.item-week__parameter {
  padding: 10px 0 9px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid $borderColor;
}

.item-week__value {
  min-width: 160px;
  padding: 10px 0 9px 8%;
  border-bottom: 1px solid $borderColor;
}

.item-week__price {
  display: block;
  padding: 19px 0 23px;
  margin: auto;
  text-align: center;
  color: $textColor;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.item-week__img {
  width: 100%;
}

@media (min-width: $tablet) {
  .item-week {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    padding: 0 6.2% 45px;
    margin: 0;
  }

  .item-week__wrapper {
    width: 50%;

    &--price {
      order: 5;
      width: 43%;
      margin-right: 7%;
    }

    &--img {
      overflow: visible;
      order: 4;
      width: 50%;
      height: 346px;
      text-align: right;
    }

    &--description {
      width: 42.5%;
      margin-right: 7%;
      margin-top: 50px;
    }
  }

  .item-week__title {
    margin: -3px 0 0;
    width: 85%;
    font-size: 43px;
  }

  .item-week__category {
    display: block;
    align-self: flex-end;
    text-align: center;
    box-sizing: border-box;
    width: 15%;
    padding-right: 29px;
    font-size: 17px;
    line-height: 17px;
  }

  .item-week__description {
    margin-top: 0;
    margin-bottom: 38px;
    font-size: 17px;
    line-height: 30px;
  }

  .item-week__img {
    margin-top: 60px;
    width: 333px;
    height: 404px;
  }

  .item-week__value {
    padding-left: 5%;
  }

  .item-week__price {
    font-size: 20px;
    line-height: 24px;
    padding: 8px 0 34px;
  }
}

@media (min-width: $desktop) {
  .item-week {
    padding: 71px 8% 40px;
  }

  .item-week__category {
    width: 175px;
    order: 1;
    padding: 0 40px 45px;
  }

  .item-week__title {
    order: 2;
    width: 76%;
    font-size: 53px;
    line-height: 57px;
  }

  .item-week__wrapper {
    &--description {
      box-sizing: border-box;
      order: 3;
      padding-left: 175px;
    }

    &--img {
      height: 390px;
      order: 4;
    }

    &--price {
      order: 5;
      padding-left: 175px;
    }
  }

  .item-week__img {
    width: 525px;
    height: 636px;
    position: relative;
    top: -120px;
    z-index: -1;
  }
}
