.logo {
  display: block;
  padding: 24px 0;
  margin: 0 auto;
  width: 86px;
  height: 35px;
}

.logo--bottom {
  display: none;
}

@media (min-width: $tablet) {
  .logo {
    box-sizing: border-box;
    width: 48%;
    height: 88px;
    padding-left: 6%;
    margin: 0;
    border-right: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
  }

  .logo--bottom {
    order: 1;
    display: block;
    width: 33.3%;
    border: none;
  }
}

@media (min-width: $desktop) {
  .logo {
    order: 2;
    width: 17%;
    padding-left: 0;
  }

  .logo--bottom {
    order: 1;
    width: 33.3%;
    padding-left: 8%;
  }
}
