.main-menu {
  width: 100%;
}

.main-menu__wrapper {
  &--promo {
    display: none;
  }
}

.main-menu__link {
  display: block;
  box-sizing: border-box;
  padding: 26px 0 29px 75px;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  color: black;
  border-bottom: 1px solid $borderColor;
  cursor: pointer;

  &--catalog,
  &--cart {
    border-top: 1px solid $borderColor;
  }

  &--cart {
    padding-left: 32px;
  }

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .main-menu__icon-cart,
  &:focus .main-menu__icon-cart {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active .main-menu__icon-cart {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.main-menu__toggle {
  width: 20px;
  height: 14px;
  position: absolute;
  top: 32px;
  right: 31px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;

  &--close {
    width: 21px;
    height: 20px;
    position: absolute;
    top: 28px;
    right: 31px;
    cursor: pointer;
    background-image: url("../img/icon-menu-close.svg");
  }
}

.main-menu__icon-cart {
  width: 21px;
  height: 20px;
  fill: #231f20;
  opacity: 0.2;
  margin-right: 18px;

  &:hover,
  &:focus {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.main-menu__text {
  display: none;
}

.main-menu__wrapper--tools {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet) {
  .main-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .main-menu__toggle {
    display: none;
  }

  .main-menu__wrapper--tools {
    order: 2;
    display: flex;
    width: 52%;
    height: 88px;
    border-bottom: 1px solid $borderColor;
  }

  .main-menu__link--cart {
    margin: 0;
    padding: 30px 10.5% 0 0;
    box-sizing: border-box;
    text-align: right;
    width: 78%;
    border: none;
  }

  .main-menu__icon-cart {
    margin-right: 9%;
  }

  .main-menu__wrapper--pages {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding-top: 18px;
    padding-left: 6.2%;
    width: 50%;
    order: 3;
    background-color: #f9f9f9;
  }

  .main-menu__link--catalog,
  .main-menu__link--handmade {
    padding: 0;
    margin-right: 8%;
    font-size: 15px;
    line-height: 22px;
    border: none;
  }

  .main-menu__text {
    box-sizing: border-box;
    text-align: right;
    display: block;
    width: 50%;
    height: 100%;
    order: 4;
    padding-top: 20px;
    padding-right: 6.3%;
    font-size: 15px;
    background-color: #f9f9f9;
  }
}

@media (min-width: $desktop) {
  .main-menu {
    height: 88px;
  }

  .main-menu__wrapper--pages {
    order: 1;
    background: white;
    padding: 0;
  }

  .main-menu__wrapper--tools {
    //width: 33%;
  }

  .main-menu__link {
    font-size: 17px;
    line-height: 24px;
  }

  .main-menu__link--catalog,
  .main-menu__link--handmade {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 30px 15px;
    border-bottom: 1px solid $borderColor;
  }

  .main-menu__link--catalog {
    padding-left: 100px;
    border-right: 1px solid $borderColor;
  }

  .main-menu__wrapper--promo {
    display: flex;
    padding-left: 100px;
    box-sizing: border-box;
    order: 4;
    width: 50%;
    height: 100%;
    background-color: #f9f9f9;
  }

  .main-menu__link--new,
  .main-menu__link--sale {
    padding: 25px 0;
    margin-right: 40px;
    font-size: 15px;
    line-height: 22px;
    border: none;
  }
}
