.map {
  position: relative;
  margin-bottom: 37px;

  &__marker::after {
    content: "";
    width: 67px;
    height: 100px;
    position: absolute;
    top: 145px;
    left: 138px;
    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}
