.page-form__description {
  margin: 0 9.3% 18px;
  padding-top: 22px;
  font-size: 13px;
  line-height: 24px;
  color: $textColor;
}

@media (min-width: $tablet) {
  .page-form__description {
    margin: 0 6.5% 65px;
    padding-top: 10px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .page-form__description {
    margin: 0 18% 65px 19.5%;
    padding-top: 63px;
  }
}
