.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header__title {
  margin: 0 auto;
  max-width: 530px;
  padding-top: 70px;
  text-align: center;
  font: {
    size: 27px;
    weight: bold;
  }
  line-height: 30px;
}

.page-header__title-wrapper {
  width: 100%;
  height: 283px;
  background: {
    color: $grey;
    image: url("../img/hero-mobile@1x.jpg");
    position: 50% 20%;
  }
}

.page-header__title-wrapper--inner {
  width: 100%;
  height: 186px;
  background-color: #f9f9f9;
  background-image: none;
}

@media (min-width: $tablet) {
  .page-header__title-wrapper {
    height: 580px;
    background-image: url("../img/hero-desktop-jpg.jpg");
    background-position: 50% 30%;
  }

  .page-header__title-wrapper--inner {
    width: 100%;
    height: 186px;
    background-color: #f9f9f9;
    background-image: none;
  }

  .page-header__title {
    font-size: 43px;
    line-height: 50px;
  }
}
