.page-form__description {
  margin: 21px 7% 25px 7%;
  max-width: 620px;
  font-size: 13px;
  line-height: 24px;
  color: $textColor;
}

@media (min-width: $desktop) {
  .page-form__description {
    margin-left: 25%;
  }
}
