.search {
  display: flex;
  padding: 23px 0 25px;

  &:hover .search__icon,
  &:focus .search__icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active .search__icon {
    fill: #63d1bb;
    opacity: 0.3;
  }
}

.search__text {
  height: 30px;
  order: 2;
  border: none;
  font-size: 17px;
  line-height: 30px;
  color: black;

  &::placeholder {
    opacity: 1;
    color: black;
    font-size: 17px;
    font-weight: bold;
    font-family: "OpenSans", "Arial", sans-serif;
  }

  &:hover::placeholder,
  &:focus::placeholder {
    opacity: 0.6;
  }

  &:active::placeholder {
    opacity: 0.3;
  }
}

.search__icon {
  align-self: center;
  padding: 0 28px;
  opacity: 0.2;
}

@media (min-width: $tablet) {
  .search {
    min-width: 22%;
    min-height: 88px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $borderColor;
  }

  .search__text {
    display: none;
  }
}

@media (min-width: $desktop) {
  .search {
    min-width: 18%;
  }
}
