.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0 30px;
  border-bottom: 1px solid $borderColor;
}

.social__link {
  margin-right: 36px;
}

.social__link--twitter {
  margin-right: 0;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: #46c1ae;
}

.social__link:active svg {
  opacity: 0.3;
}

@media (min-width: $tablet) {
  .social {
    order: 2;
    width: 28.3%;
    margin: 0;
  }
}
