.video {
  width: 260px;
  border: 1px solid $borderColor;
}

.video__title {
  margin: 0;
  position: relative;
  padding: 24px 0 24px 90px;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 34px;
    width: 35px;
    height: 30px;
    background: {
      image: url("../img/icon-video.svg");
      repeat: no-repeat;
    }
  }
}

.video__player {
  position: relative;
  margin-bottom: 22px;
}

.video__play {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 102px;
  height: 78px;
  background: {
    image: url("../img/icon-play.svg");
    repeat: no-repeat;
  }
}

.video__description {
  margin: 0 0 25px;
  padding: 0 32px 0 34px;
  font-size: 13px;
  line-height: 24px;
  color: $textColor;
}
