.zigzag--tablet {
  display: none;
}

@media (min-width: $tablet) {
  .zigzag--tablet {
    display: block;
    position: relative;
    bottom: 32px;
  }

  .zigzag--short {
    width: 87.6%;
    margin: 0 6.2%;
  }
}

@media (min-width: $desktop) {
  .zigzag--short {
    width: 91.4%;
    margin: 0 4.3%;
  }

  .zigzag--tablet {
    bottom: 33px;
  }
}
